@import "styles/vars";

.showMoreContainer {
  margin: 32px 0 94px 0;
  display: flex;
  justify-content: center;

  button {
    width: 189px;
    height: 40px;
    background: $primary-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px 20px 20px 0px;
    font-size: $header-size;
  }
}

.aboutContainer {
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  border-radius: 10px;
  max-width: 597px;
  padding: 24px;
  margin-bottom: 56px;
  .title {
    margin-bottom: 16px;
    font-weight: 500;
  }
}
