@import "styles/vars";

.container {
  margin-top: 32px;
  margin-bottom: 24px;
}

.title {
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  color: $primary-color;
  margin-top: 32px;
}

.text {
  color: $gray;
}

.heading {
  composes: text;
  margin: 0;
}

.paragraph {
  composes: text;
  margin-top: 0;
}