@import "styles/main";

.accordionContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 105px 0;
}

.showMore {
  width: 100%;
  display: flex;
  justify-content: center;
}

.showMoreBtn {
  width: 200px;
  height: 60px;
  font-style: normal;
  font-weight: 500;
  font-size: $title-size;
  line-height: 41px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  justify-content: center;
  border-radius: 20px 20px 20px 0;
}
