@import "styles/vars";

.manageAccountPage {
  padding-top: 96px;
  padding-bottom: 40px;
  background-color: $background-color;
  color: $black;
  .container {
    margin-inline: auto;
    display: flex;
    max-width: 1200px;
    .rightCol {
      background-color: white;
      width: 25%;
      height: 766px;
      margin-left: 16px;
      border: 1px solid $lightgray;
      box-sizing: border-box;
      border-radius: 20px 20px 20px 0px;
      padding: 12px;
      .welcomeText {
        color: $primary-color;
        font-weight: 700;
        font-size: $header-size;
      }
      .providerTitle {
        color: $gray;
        font-weight: 500;
        font-size: $primary-size;
        margin-top: 16px;
        margin-bottom: 24px;
      }
      .notProviderTitle {
        color: $primary-color;
        cursor: pointer;
      }
      .status {
        margin-bottom: 16px;
        display: flex;
        justify-content: space-between;
        padding-inline: 12px;
        align-items: center;
        .statusTitle {
          color: $gray;
          font-size: $primary-size;
          .balance {
            font-size: $tertiary-size;
          }
        }
        .statusValue {
          display: flex;
          font-size: $tertiary-size;
          color: $primary-color;
          margin-top: 5px;
          .iconContainer {
            cursor: pointer;
          }
        }
      }
      .status ~ .status {
        margin-bottom: 0;
        border-bottom: 1px solid $lightgray;
        padding-bottom: 12px;
        align-items: flex-start;
        .statusValue {
          cursor: pointer;
        }
      }
      .menuItems {
        list-style-type: none;
        padding-inline-start: 0;
        margin-top: 24px;
        li {
          margin-bottom: 10px;
          cursor: pointer;
          font-size: $primary-size;
        }
        .activeMenu {
          background: rgba(21, 90, 97, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          border-radius: 7px;
          padding-inline: 16px;
          height: 46px;
          display: flex;
          align-items: center;
        }
        .menu {
          padding-right: 16px;
        }
      }
    }
    .leftCol {
      width: 75%;
    }
  }
}
.modalContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 393px;
  background-color: white;
  box-shadow: 0px 4px 10px rgba(150, 149, 149, 0.1);
  border-radius: 10px;
  outline: none;
}
