@import "styles/main";

.manageAccountPage {
  padding: 1rem;
  background-color: $background-color;
  color: $black;

  @include breakpoint(desktop) {
    padding: 96px 1rem 40px 1rem;
  }

  .container {
    margin-inline: auto;
    display: flex;
    max-width: 1200px;

    .rightCol {
      display: none;
      background-color: white;
      width: 25%;
      height: 766px;
      margin-left: 16px;
      border: 1px solid $lightgray;
      box-sizing: border-box;
      border-radius: 20px 20px 20px 0;
      padding: 12px;

      @include breakpoint(desktop) {
        display: block;
      }
    }

    .leftCol {
      width: 100%;

      @include breakpoint(desktop) {
        width: 75%;
      }
    }
  }
}

.menuItems {
  list-style-type: none;
  padding-inline-start: 0;
  margin-top: 24px;

  li {
    margin-bottom: 10px;
    cursor: pointer;
    font-size: $primary-size;
  }

  .activeMenu {
    background: rgba(21, 90, 97, 0.15);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    padding-inline: 16px;
    height: 46px;
    display: flex;
    align-items: center;
  }

  .menu {
    padding-right: 16px;
  }
}

.modalContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 393px;
  background-color: white;
  box-shadow: 0 4px 10px rgba(150, 149, 149, 0.1);
  border-radius: 10px;
  outline: none;
}
