@import "styles/main";

.postPageContainer {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;

  @include breakpoint(desktop) {
    margin: 96px auto;
    padding: 0 16px 0;
    flex-wrap: nowrap;
  }

  .rightCol {
    @include breakpoint(desktop) {
      width: 290px;
    }

    .ad {
      height: 190px;
      margin-bottom: 32px;
      position: relative;
      .closeAd {
        position: absolute;
        top: 12px;
        left: 11px;
        cursor: pointer;
      }
    }
    .profileContainer {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      margin-bottom: 16px;
      padding: 0 16px;

      .avatarContainer {
        width: 50px;
        height: 50px;
        margin-bottom: 8px;
      }
      .name {
        height: 38px;
        font-style: normal;
        font-weight: 500;
        font-size: $header-size;
        line-height: 28px;
        text-align: center;
        margin-bottom: 8px;
        color: #241e12;
      }
      .status {
        height: 38px;
        font-style: normal;
        font-weight: normal;
        font-size: $header-size;
        line-height: 28px;
        text-align: center;
        color: #706c64;
      }
      .joinButton {
        width: 100%;
        height: 40px;
        font-weight: 700;
      }
      .rightColContainer {
        box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        width: 100%;
        padding: 16px;
        display: flex;
        flex-direction: column;
        color: $gray;
        .membershipHeader {
          align-self: center;
          font-weight: 500;
          font-size: $header-size;
          margin-bottom: 16px;
        }
        .membership {
          display: flex;
          align-items: center;
          margin-bottom: 16px;
          .membershipImage {
            width: 40px;
            height: 40px;
            margin-left: 9px;
          }
          .membershipText {
            margin-top: 5px;
            font-size: $secondary-size;
            line-height: 1.5;
            .membershipSubtitle {
              font-size: $tertiary-size;
            }
          }
        }
        .sidePost {
          display: flex;
          margin-bottom: 18px;
          .postImage {
            width: 47px;
            height: 40px;
            max-height: 40px;
            min-width: 47px;
            border-radius: 4px;
            span {
              border-radius: 4px;
            }
          }
          .postText {
            margin-right: 8px;
            .postTitle {
              font-size: $secondary-size;
            }
            .postTime {
              font-size: $tertiary-size;
              color: $lightgray;
            }
          }
        }
      }
    }
    .profileContainer > * {
      margin-bottom: 16px;
    }
  }
  .leftCol {
    width: 100%;
    padding: 0 16px;

    @include breakpoint(desktop) {
      width: calc(100% - 290px);
    }

    .videoText {
      margin-top: 10px;
      display: flex;
      justify-content: space-between;
      padding: 0 12px 0 20px;
      align-items: center;
      .postTitle {
        font-weight: 500;
        font-size: $header-size;
      }
      .postTime {
        font-size: $tertiary-size;
        color: $gray;
      }
    }
    .members {
      color: $gray;
      font-size: $tertiary-size;
      margin-right: 12px;
      margin-top: 8px;
    }
    .videoButtons {
      padding: 10px 15px 0 20px;
      display: flex;
      justify-content: space-between;
      .actions {
        display: flex;
        padding-top: 5px;
        .like {
          margin-left: 16px;
          display: flex;
          cursor:pointer;
        }
        .comment {
          display: flex;
        }
        .count {
          font-style: normal;
          font-weight: normal;
          font-size: $secondary-size;
          line-height: 22px;
          text-align: right;
          color: #797474;
          opacity: 0.9;
          margin-right: 8px;
        }
      }
      .more {
        width: 40px;
        display: flex;
        justify-content: space-between;
      }
    }
    .lightLine {
      width: 87%;
      margin-right: auto;
      margin-left: auto;
      border-top: 1px solid $lightgray;
      margin-block: 24px;
    }
    .description {
      color: $gray;
      margin: 10px 2px 16px 20px;
      padding: 0 7px 24px 0;
      border-bottom: 1px solid $gray;
    }
    .newComment {
      display: flex;
      margin-top: 8px;
      padding-right: 8px;
      margin-bottom: 24px;
      .commentAvatar {
        position: relative;
        border-radius: 50%;
        overflow: hidden;
        width: 40px;
        height: 40px;
        margin-left: 9px;
      }
      .userNewComment {
        flex-grow: 1;
        position: relative;
        input {
          width: 95%;
          height: 40px;
          box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.25);
          border-radius: 27px;
          border: none;
          padding-inline: 16px;
          font-size: $tertiary-size;
          color: $dimgray;
        }
        input::placeholder {
          color: #999999;
        }
        input:focus-visible {
          outline: none;
        }
        .sendBtn {
          position: absolute;
          left: calc(5% + 18px);
          height: 100%;
          display: flex;
          cursor: pointer;
          opacity: 0.5;
        }
      }
    }
    .comment {
      display: flex;
      margin-bottom: 32px;
      padding-right: 8px;
      .commentAvatar {
        width: 40px;
        height: 40px;
        margin-left: 9px;
      }
      .commentTexts {
        .userAndTime {
          display: flex;
          align-items: center;
          .commentTime {
            font-size: $tertiary-size;
            color: $gray;
            margin-right: 10px;
          }
        }
        .commentText {
          color: $dimgray;
          font-size: $secondary-size;
        }
        .thumbs {
          display: flex;
          cursor: pointer;
        }
        .thumbs > div {
          margin-left: 24px;
        }
      }
    }
  }
}
.postImageContainer{
  width:100%;
  height:auto;
}
