@import "styles/main";

.profileContainer {
  background-color: #f7fcfc;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1000px;

  @include breakpoint(desktop) {
    flex-direction: row;
    padding: 32px 16px 0;
  }
}

.rightCol {
  background-color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);

  @include breakpoint(desktop) {
    flex-basis: 290px;
    background-color: transparent;
    box-shadow: none;
  }

  .status {
    display: none;
    height: 38px;
    font-style: normal;
    font-weight: normal;
    font-size: $header-size;
    line-height: 28px;
    text-align: center;
    color: #706c64;
    margin-top: 1rem;

    @include breakpoint(desktop) {
      display: block;
    }
  }
}

.leftCol {
  margin-top: 3rem;
  flex-grow: 1;
  .tabsContainer {
    padding: 0 16px;
  }
}

.profileContentBox {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.avatarContainer {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;

  @include breakpoint(desktop) {
    width: 85px;
    height: 85px;
  }
}

.headerContainer {
  position: relative;
  height: 170px;
  padding-top: 20px;
  background-image: url("../../assets/images/profile/default-profile-bg.png");
  background-size: cover;

  @include breakpoint(desktop) {
    height: 373px;
    padding-top: 43px;
  }
}

.buttonContainer {
  width: 100%;

  @include breakpoint(desktop) {
    margin-top: 43px;
  }
}

.addContentButton {
  width: 126px;
  height: 40px;
  border-radius: 20px 20px 20px 0;
  font-size: $header-size;

  @include breakpoint(desktop) {
    width: 165px;
    height: 50px;
  }

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    span:nth-child(2) {
      margin-right: 8px;
      display: flex;
      align-items: center;
    }
  }
}

.addContentIcon {
  position: relative;
  width: 16px;
  height: 16px;

  @include breakpoint(desktop) {
    width: 20px;
    height: 20px;
  }
}

.contents {
  margin-top: 32px;
}

.socialContainer {
  display: none;
  margin: 32px 0;
  justify-content: center;

  @include breakpoint(desktop) {
    display: block;
  }

  .social {
    a {
      margin-left: 16px;
    }
  }
}

.name {
  margin: 0;
}

.userInfoContainer {
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;

  @include breakpoint(desktop) {
    flex-direction: column;
    gap: 1rem;
  }
}
