@import "styles/vars";

.inputContainer {
  position: relative;
  width: -webkit-fill-available;
  .input {
    width: 100%;
    height: 46px;
    border: 1px solid #bac1c1;
    box-sizing: border-box;
    border-radius: 15px 15px 15px 0px;
    outline: none;
    padding: 0 17px;
    position: relative;
    &::placeholder {
      color: $simplegray;
    }
    option {
      color: $gray;
    }
  }
  .fileInput {
    border: none !important;
  }

  .label {
    height: 31px;
    font-style: normal;
    font-weight: normal;
    font-size: $tertiary-size;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: right;
    color: $dimgray;
  }
  .error {
    color: $error;
    font-size: $tertiary-size;
    // position: absolute;
    // top: 45px;
    // right: 10px;
  }
  .selectArrow {
    position: absolute;
    top: 8px;
    right: 105px;
  }
}
