@import "styles/vars";

.paper {
    position: relative;
    background: #ffffff;
    border: 1px solid $lightgray;
    box-sizing: border-box;
    border-radius: 30px 30px 30px 0;
    padding: 26px 30px;
    overflow: hidden;
}
