.tabs {
  border-bottom: 1px solid #706C64;
  display: flex;

  .tabItem {
    margin: 0 0 0 16px;
    padding: 8px 16px;
    cursor: pointer;
    white-space: nowrap;

    &.active {
      border-bottom: 3px solid black;
    }
  }
}

