@import "styles/vars";

// font sizes
$l: 1.1rem;
$m: 1rem;
$sm: .8rem;
$xl: 1.3rem;
$xxl: 1.5rem;
$huge: 2rem;

.sm {
  font-size: $sm;
}

.m {
  font-size: $m;
}

.l {
  font-size: $l;
}

.xl {
  font-size: $xl;
}

.xxl {
  font-size: $xxl;
}

.huge {
  font-size: $huge;
}

// font-weight
.thin {
  font-weight: 300;
}

.normal {
  font-weight: 400;
}

.bold {
  font-weight: 500;
}

// color
.gray {
  color: $gray;
}

.primary {
  color: $primary-color;
}

.black {
  color: $black;
}

.red {
  color: $error;
}

.white {
  color: #fff;
}

// align
.align-right {
  text-align: right;
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}