@import "styles/main";

.completionContainer {
  margin-top: 32px;
  margin-bottom: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  @include breakpoint(desktop) {
    margin-top: 6rem;
  }

  .wrapper{
    margin-bottom: 24px;
  }

  .cardOrder{
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      gap: 2rem;

    @include breakpoint(desktop) {
      flex-wrap: nowrap;
    }
  }

  .contentDetail, .contentPublishRight {
    border: 1px solid rgba($primary-color, 0.9);
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px 30px 30px 0px;
    padding: 16px;
    width: 100%;

    @include breakpoint(desktop) {
      width: 573px;
      margin: 10px 15px 10px 15px;
    }
  }
}
.buttonsContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  button {
    width: 160px;
    height: 42px;
    margin:30px 0 100px 0;
    font-size: $primary-size;
    border-radius: 20px 20px 20px 0px;

  }
}

.cardContainer {
    background: #FFFFFF;
    border: 1px solid rgba($primary-color, 0.9);
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px 30px 30px 0px;
    width: 100%;
    padding: 16px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    .placeholderContainer {
        width: 264px;
      height: 264px;
        border: 1px dashed $primary-color;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 32px 0;

      @include breakpoint(desktop) {
        width: 397px;
        height: 397px;
      }
    
        .image {
          width: 178px;
          height:300px;
        }
    }
    
}

