@import "styles/main";

.boxContainer {
  height: 64px;
  background: #ffffff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  position: fixed;
  top: 0;
  z-index: 100;
}

.contentContainer {
  display: flex;
  height: 100%;
  justify-content: space-between;
}

.rightCol {
  display: flex;
  align-items: center;
}

.activeLink {
  color: $primary-color;

  &::after {
    height: 5px;
    width: 47px;
    content: "";
    display: block;
    top: 100%;
    transform: translate(-50%, -50%);
    left: 50%;
    border-radius: 3px;
    background-color: $primary-color;
    position: absolute;
  }
}

.logo {
  cursor: pointer;
  white-space: nowrap;
  font-style: normal;
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
}

.linksContainer {
  display: none;
  margin-right: 22px;
  align-items: center;
  height: 100%;

  @include breakpoint(desktop) {
    display: flex
  }
}

.linkItem {
  width: max-content;
  font-style: normal;
  font-weight: 500;
  font-size: $secondary-size;
  line-height: 22px;
  align-items: center;
  text-align: center;
  position: relative;
  margin-left: 24px;
  height: 100%;
  display: flex;
}

.leftCol {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  .loginButton {
    margin-left: 16px;
  }

  .profileInfo {
    display: flex;
    cursor: pointer;
    position: relative;

    .popup {
      position: absolute;
      left: 12px;
      top: 48px;
      padding-left: 26px;
      width: 270px;

      @include breakpoint(desktop) {
        width: max-content;
        left: 24px;
      }

      .popupHeader {
        display: flex;
        align-items: center;
        border-bottom: 3px solid $lightgray;
        padding-bottom: 20px;

        .popupAvatar {
          height: 50px;
          width: 50px;
          margin-left: 4px;

          @include breakpoint(desktop) {
            width: 70px;
            height: 70px;
          }
        }

        .headerTexts {

          .headerUsername {
            color: $dimgray;
            font-weight: 700;
          }
        }

        .headerLink {
          margin: 0;
        }
      }
    }

    .name {
      width: 90px;
      margin-left: 16px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: $secondary-size;
      color: $primary-color;
    }

    .profilePic {
      width: 46px;
      height: 46px;
      border-radius: 50%;
    }
  }
}

.drawerLink {
  border-top: 1px solid $lightergray;
  padding: 12px 0;
  margin: 0;
}
