@import "styles/vars";

.pageContainer {
  display: flex;

  .leftCol {
    width: 50%;
    min-height: calc(100vh - 64px);
    background-image: url("../../../assets/images/login/login-bg.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;

    .bgShadow {
      width: 100%;
      height: 944px;
      bottom: 0;
      position: absolute;
      background: linear-gradient(
        0deg,
        #04282c -4.87%,
        rgba(45, 45, 45, 0.184223) 44.45%,
        rgba(255, 255, 255, 0) 93.01%
      );
    }
    .circle {
      left: 50%;
      position: absolute;
      width: 130%;
      height: 85%;
      border-radius: 50%;
      bottom: -100px;
      background-color: rgba(255, 255, 255, 0.3);
      transform: translate(-50%, 33%);
    }
    .textWrapper {
      position: absolute;
      bottom: 50px;
      left: 50%;
      transform: translateX(-50%);
      max-width: 457px;

      .title {
        height: 43.68px;
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 35px;
        align-items: center;
        color: #fff;
        margin-bottom: 25px;
        text-align: center;
      }
      .description {
        font-style: normal;
        font-weight: 500;
        font-size: $header-size;
        line-height: 31px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #ffffff;
      }
    }
  }
  .rightCol {
    width: 50%;
    direction: ltr;
  }
}
