@import "styles/vars";

.radioButtons {
  width: 580px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
  .realLabel {
    font-weight: 500;
    font-size: $header-size;
  }
  input[type="radio"] {
    display: none;
    /*removes original button*/
  }

  label:before {
    /*styles outer circle*/
    content: " ";
    display: inline-block;
    position: relative;
    top: 5px;
    margin: 0 8px 0 0;
    width: 11px;
    height: 11px;
    border-radius: 19px;
    border: 4px solid $lightgray;
    background-color: transparent;
  }
  label {
    position: relative;
  }

  label input[type="radio"]:checked + span {
    /*styles inside circle*/
    border-radius: 11px;
    width: 9px;
    height: 9px;
    position: absolute;
    top: 10.9px;
    right: 13px;
    display: block;
    background-color: $primary-color;
    //border: 4px solid $lightgray;
  }
}
.editButton {
  position: absolute;
  left: 24px;
  top: 24px;
  width: 160px;
  height: 48px;
  border-radius: 20px 20px 20px 0px;
}
