@import "styles/vars";

.container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.formContainerHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.formContainerBody {
    margin-top: 16px;
    display: flex;
    flex-flow: wrap row;
    gap: 16px;
}

.formControl {
    flex: 1 0 45%;
    display: inline-flex;
    flex-direction: column;
    gap: 8px;
}

.formControlFullwidth {
    composes: formControl;
    flex-basis: 100%;
}

.formControlHorizontal {
    composes: formControlFullwidth;
    flex-direction: row;
    align-items: center;
    gap: 32px;
}

.input {
    border: 1px solid $lightgray;
    border-radius: 20px 20px 20px 0;
    padding: 10px;
}

.select {
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    border: none;
    padding: 5px;
    min-width: 135px;
}

.selectProfilePicture {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 0 auto;
    overflow: hidden;
    cursor: pointer;
}

.selectCover {
    --padding: 15px;
    background-color: $lightergray;
    position: relative;
    width: 100%;
    height: 100%;
    padding: var(--padding);
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;

    &::after {
        content: '';
        position: absolute;
        border: 1px dashed $gray;
        border-radius: 5px;
        inset: var(--padding);
    }
}

.cover {
    z-index: 10;
}

.socialLink {
    direction: ltr;
    flex-grow: 1;
}

.radioButtons {
    width: 580px;
    display: flex;
    justify-content: space-between;
}

.realLabel {
    font-weight: 500;
    font-size: $header-size;
    display: flex;
    align-items: center;
    gap: 8px;

    input[type="radio"] {
        appearance: none;
        cursor: pointer;
        width: 20px;
        height: 20px;
        background-color: white;
        border: 5px solid $lightgray;
        border-radius: 50%;

        &:checked {
            background-color: $primary-color;
        }
    }
}
