// colors
$primary-color: #155a61;
$background-color: #fafcfc;
$lightgray: #c4c4c4;
$simplegray: #979797;
$gray: #706c64;
$dimgray: #545454;
$cream: #e0bf92;
$error: #ff0000;

// font sizes
$primary-size: 16px;
$secondary-size: 14px;
$tertiary-size: 12px;
$header-size: 18px;
$title-size: 24px;
