// colors
$primary-color: #155a61;
$primary-light-color: rgba(21, 90, 97, 0.5);
$background-color: #fafcfc;
$lightgray: #c4c4c4;
$lightergray: #d2d2d2;
$simplegray: #979797;
$gray: #706c64;
$blue-gray: #E9EBF1;
$dimgray: #545454;
$cream: #e0bf92;
$error: #ff0000;
$black: #241e12;

// font sizes
$primary-size: 16px;
$secondary-size: 14px;
$tertiary-size: 12px;
$header-size: 18px;
$title-size: 24px;
